[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.10.0"
async-timeout = "==4.0.3"
pillow = "==10.4.0"
pydoover = {ref = "2fbff9c", git = "git+https://spaneng:${PYDOOVER_GITHUB_PAT}@github.com/spaneng/pydoover.git"}

[dev-packages]
grpcio = "==1.65.1"
grpcio-tools = "==1.65.1"
pydoover = {file = "../../pydoover"}

[requires]
python_version = "3.11"
